:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f0fdf9;       /* เขียวอ่อนแบบมินต์ */
  --vt-c-white-mute: #e0fbf1;

  --vt-c-black: #14213d;
  --vt-c-black-soft: #1b263b;
  --vt-c-black-mute: #2d3142;

  --vt-c-indigo: #0284c7;           /* ฟ้าอ่อน */

  --vt-c-divider-light-1: rgba(0, 0, 0, 0.15);
  --vt-c-divider-light-2: rgba(0, 0, 0, 0.08);
  --vt-c-divider-dark-1: rgba(255, 255, 255, 0.35);
  --vt-c-divider-dark-2: rgba(255, 255, 255, 0.25);

  --vt-c-text-light-1: #065f46;     /* เขียวเข้ม */
  --vt-c-text-light-2: #047857;     /* เขียวมะกอก */
  --vt-c-text-dark-1: #ecfeff;
  --vt-c-text-dark-2: #a5f3fc;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white-soft);
  --color-background-soft: var(--vt-c-white);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-2);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: linear-gradient(135deg, #e0f2fe, #d1fae5); /* ไล่สีฟ้า-เขียว */
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Prompt', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
